.limiter {
    width: 100%;
    margin: 0 auto;
}

.mainTable {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

table {
    overflow: hidden;
    background-color: #fff;
    border-spacing: 1px;
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    background-color: #4b2d90;
    height: 60px;
    color: #fff;
}

.tableHead th {
    line-height: 1.2;
    font-size: 18px;
    font-weight: unset;
    font-style: italic;
}

table td, table th {
    text-align: left;
}

.column1 {
    width: 500px;
    padding-left: 40px;
}

.column2 {
    width: 170px;
}

.column3 {
    width: 170px;
    text-align: right;
}

.column4 {
    width: 260px;
    text-align: right;
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    table {
        display: block;
    }
    table > *, table tr, table td, table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content:"Name: ";
        text-align-last: left;
    }
    table tbody tr td:nth-child(2):before {
        content:"Type: ";
    }
    table tbody tr td:nth-child(3):before {
        content:"Unit: ";
    }
    table tbody tr td:nth-child(4):before {
        content:"Value: ";
    }

    .column3,
    .column4 {
        text-align: left;
    }
    .column1,
    .column2,
    .column3,
    .column4 {
        width: 100%;
    }

}