.navbar {
    display: flex;
    background-color:#41436A;
    position: sticky;
    top: 0;
    opacity: 0.9;
    align-items: center;
    z-index: 999;
    height: 50px;
}

.topLeft,
.topRight {
    flex: 6;
    display: flex;
    align-items: center;
}

.topLeft {
    justify-content: center;
}

.topRight {
    justify-content: end;
}

.topIcon {
    color: white;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.topIcon:hover {
    color:#eba060;
}

.navList {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    color: #eba060;
}