.navbar {
    display: flex;
    background-color:#141414;
    position: sticky;
    top: 0;
    opacity: 0.9;
    align-items: center;
    z-index: 999;
    height: 50px;
}

.topLeft {
    flex: 6;
    display: flex;
    justify-content: start;
}

.navList {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: auto 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    color: #eba060;
}

@media screen and (max-width:768px) {
    .nav-item {
        margin: auto 20px;
        color: #fff;
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}