@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #444;
    margin: 0;
}

body, html {
    height: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutTitle {
    color: #fff;
    font-size:24px;
}

.aboutText{
    color: #fff;
}

.aboutIMG {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 30px 15px;
    object-position: center;
}